@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
/*************
Fonts
**************/
/*** variables ***/
/*** start. base styles ***/
html,
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
.hidden-overflow {
  overflow-y: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.colororange {
  color: #f7600e;
}
.button {
  width: 210px;
  height: 50px;
  line-height: 50px;
  margin-right: 30px;
  display: inline-block;
  color: #ffffff;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}
.button:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #f7600e;
  border: 1px solid transparent;
}
.button:last-child {
  margin-right: 0;
}
/*** start. header ***/
.header {
  height: 800px;
  margin-bottom: 100px;
  position: relative;
  color: #ffffff;
  background: url("../img/bg/bg-header.png") no-repeat center;
  background-size: cover;
}
.navigation {
  padding-top: 50px;
}
.button-menu__name {
  margin-right: 20px;
  color: #ffffff;
  font-size: 1em;
}
.wrapper-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  display: none;
  overflow-y: auto;
  padding-bottom: 150px;
  background-color: rgba(59, 67, 76, 0.9);
}
.main-menu {
  padding-top: 150px;
  position: relative;
}
.main-menu li {
  margin-bottom: 45px;
}
.main-menu li:last-child {
  margin-bottom: 0;
}
.main-menu li a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.188em;
}
.main-menu li a:hover {
  color: #f7600e;
  text-decoration: none;
}
hr {
  width: 167px;
  height: 2px;
  color: transparent;
  border: none;
  margin-top: 60px;
  margin-bottom: 55px;
  background-color: #f7600e;
}
li.close-menu {
  margin: 0;
  padding: 0;
  font-size: 0;
  top: 30px;
  right: 18px;
  position: absolute;
  text-align: right;
}
.h-information {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.big-heading {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 4.375em;
  font-weight: 800;
  text-transform: uppercase;
}
.h-description {
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  font-size: 1.563em;
  line-height: 40px;
}
.arrow-bottom {
  left: 50%;
  bottom: 50px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.wrapper-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: auto;
  display: none;
  background-color: rgba(59, 67, 76, 0.5);
}
.wrapper-form .form-content {
  padding: 6% 10.5%;
}
.wrapper-form h3 {
  padding: 0;
  margin: 0;
  color: #424242;
  font-weight: 600;
  font-size: 2.188em;
  margin-bottom: 29px;
  text-transform: uppercase;
}
.wrapper-form p {
  color: #424242;
  line-height: 30px;
  font-size: 1em;
  margin-bottom: 46px;
}
.form-content {
  width: 85%;
  max-width: 763px;
  height: auto;
  background-color: #fff;
  position: absolute;
  text-align: center;
  z-index: 2;
  left: 50%;
  margin: 10% auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.form-content::after {
  display: table;
  clear: both;
  content: '';
}
.email-hireus,
.subject-hireus {
  width: 100%;
  height: 50px;
  display: block;
  border-radius: 10px;
  padding-left: 23px;
  margin-bottom: 29px;
  border: 1px solid rgba(59, 67, 76, 0.3);
}
.btn-close-modal {
  top: -19px;
  right: -19px;
  position: absolute;
}
.textarea-hireus {
  width: 100%;
  height: 231px;
  resize: none;
  display: block;
  border-radius: 10px;
  padding: 20px 23px;
  margin-bottom: 30px;
  border: 1px solid rgba(59, 67, 76, 0.3);
}
.button-modal {
  width: 100%;
  border: none;
  background-color: #f7600e;
}
/*** start. services ***/
.services {
  margin-bottom: 110px;
  color: #3b434c;
}
.services-item__name {
  margin: 30px 0;
  padding: 0;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.services-item__description {
  margin: 0;
  line-height: 26px;
  font-size: 0.875em;
}
.services-item__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid rgba(59, 67, 76, 0.3);
}
.services-item__img--1 {
  background: url("../img/services/icon-1.png") no-repeat center;
}
.services-item__img--2 {
  background: url("../img/services/icon-2.png") no-repeat center;
}
.services-item__img--3 {
  background: url("../img/services/icon-3.png") no-repeat center;
}
.services-item__img--4 {
  background: url("../img/services/icon-4.png") no-repeat center;
}
/*** start. newsletter ***/
.newsletter {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 250px;
  background: url("../img/bg/bg-newsletter.png") no-repeat center;
  background-size: cover;
}
.email {
  width: 50%;
  height: 50px;
  padding-left: 25px;
  margin-right: 30px;
  max-width: 560px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 300;
  font-size: 1em;
  outline: none;
  border: none;
}
.button-form {
  width: 269px;
  color: #ffffff;
  background: #f7600e;
  border: none;
  -webkit-transition: none;
  transition: none;
}
.button-form:hover {
  border: none;
}
/*** start. works ***/
.sub-heading {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  color: #3b434c;
  font-size: 2.188em;
  font-weight: 600;
  text-transform: uppercase;
}
.sub-description {
  margin-bottom: 100px;
  font-size: 1em;
  line-height: 30px;
}
.works-hover {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  color: #ffffff;
  opacity: 0;
  background: rgba(247, 96, 14, 0.9);
}
.works-hover .heading {
  margin: 0;
  padding: 0;
  font-size: 1.563em;
  font-weight: 600;
  text-transform: uppercase;
}
.works-hover .description {
  margin: 30px 0 50px;
  font-size: 0.875em;
  line-height: 26px;
}
.works-hover .button-shproject {
  margin-top: 0;
  border: 1px solid #fff;
  color: #fff;
}
.works-hover .button-shproject:hover {
  color: #f7600e;
  background: #ffffff;
}
.works-item {
  margin-bottom: 25px;
}
.works-item:hover .works-hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}
.works-img {
  height: 360px;
  border-radius: 10px;
}
.works-img-1 {
  background: url("../img/works/img-1.jpg") no-repeat center;
}
.works-img-2 {
  background: url("../img/works/img-2.jpg") no-repeat center;
}
.works-img-3 {
  background: url("../img/works/img-3.jpg") no-repeat center;
}
.works-img-4 {
  background: url("../img/works/img-4.jpg") no-repeat center;
}
.works-img-5 {
  background: url("../img/works/img-5.jpg") no-repeat center;
}
.works-img-6 {
  background: url("../img/works/img-6.jpg") no-repeat center;
}
.button-shmore {
  color: #3b434c;
  margin-top: 72px;
  text-transform: uppercase;
  margin-bottom: 100px;
  border: 1px solid rgba(59, 67, 76, 0.3);
}
.button-shmore:hover {
  color: inherit;
  background: none;
  border: 1px solid rgba(59, 67, 76, 0.3);
}
/*** start. feedback ***/
.feedback {
  margin-bottom: 100px;
  color: #ffffff;
  height: 501px;
  background: url('../img/bg/bg-clients.png') no-repeat center;
  background-size: cover;
}
.feedback-iner {
  width: 100%;
  height: 501px;
  position: relative;
}
.feedback-content {
  width: 70%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.feedback-photo {
  width: 120px;
  height: 120px;
  margin-bottom: 50px;
  border-radius: 50%;
}
.feedback-description {
  margin-bottom: 28px;
  font-size: 1.563em;
  line-height: 40px;
  font-style: italic;
}
.feedback-name {
  font-size: 1.125em;
  font-weight: 600;
  margin-bottom: 0;
}
.arrow {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.arrow-right {
  right: 0;
}
/*** start. team ***/
.team {
  margin-bottom: 101px;
}
.team .sub-description {
  margin-bottom: 127px;
}
.team-item {
  margin-bottom: 99px;
  position: relative;
}
.team-img {
  width: 100%;
  max-width: 234px;
  height: 283px;
  position: relative;
  display: inline-block;
  border-radius: 10px;
}
.team-img:hover {
  background-color: #f7600e;
}
.team-img-all {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: absolute;
}
.team-img-all:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 1s;
  transition: 1s;
  border-bottom: 5px solid #f7600e;
  -webkit-transform: scaleX(1.2) scaleY(1.2);
          transform: scaleX(1.2) scaleY(1.2);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.team-img--1 {
  background: url('../img/team/img-1.jpg') no-repeat center top;
}
.team-img--2 {
  background: url('../img/team/img-2.jpg') no-repeat center top;
}
.team-img--3 {
  background: url('../img/team/img-3.jpg') no-repeat center top;
}
.team-img--4 {
  background: url('../img/team/img-4.jpg') no-repeat center top;
}
.team-name {
  color: #9da1a5;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 28px;
  font-size: 1.563em;
  font-weight: 600;
  text-transform: uppercase;
}
.team-name:hover {
  color: #3b434c;
  -webkit-transition: 1s;
  transition: 1s;
}
.team-description {
  color: #9da1a5;
  margin-bottom: 0;
  line-height: 26px;
  font-size: 0.875em;
}
.team-description:hover {
  color: #3b434c;
  -webkit-transition: 1s;
  transition: 1s;
}
.team-social {
  margin-bottom: 32px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.5;
}
.team-social:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}
.item-team-social {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  display: inline-block;
  background: url(../img/social/social-small.png) no-repeat 0 0;
}
.item-team-social:last-child {
  margin-right: 0;
}
.item-team-social--2 {
  background-position: -38px 0;
}
.item-team-social--3 {
  background-position: -77px 0;
}
.radio-button__item {
  display: none;
}
.label-radio-button {
  width: 12px;
  height: 12px;
  margin-right: 19px;
  margin-bottom: 0;
  border-radius: 50%;
  background-color: #c4c6c9;
}
.label-radio-button:last-child {
  margin-right: 0;
}
.label-active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #f7600e;
}
/*************
Contact
**************/
.contact {
  height: 100%;
  padding-bottom: 140px;
  color: #ffffff;
  background: url(../img/bg/bg-contact.png) no-repeat center;
  background-size: cover;
}
.contact .sub-heading {
  margin-top: 102px;
  color: #ffffff;
}
.contact .sub-description {
  margin-bottom: 97px;
}
.contact-form {
  width: 100%;
  max-width: 829px;
  height: auto;
  margin: 0 auto;
  font-size: 0;
}
.contact-email {
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin-right: 29px;
  border-radius: 10px;
  border: none;
  padding-left: 19px;
  display: inline-block;
  font-size: 16px;
  color: #3b434c;
  margin-bottom: 31px;
}
.subject {
  width: 100%;
  max-width: 400px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding-left: 19px;
  display: inline-block;
  font-size: 16px;
  color: #3b434c;
  margin-bottom: 31px;
}
.textarea {
  width: 100%;
  height: 199px;
  color: #3b434c;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 18px 0 0 20px;
}
.button-form {
  font-size: 16px;
  margin-right: 0;
}
.icon-social {
  width: auto;
  height: 50px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icon-social__item {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/social/social-big.png") no-repeat 0 0;
}
.icon-social__item:last-child {
  margin-right: 0;
}
.icon-social__item--2 {
  background-position: -63px 0;
}
.icon-social__item--3 {
  background-position: -126px 0;
}
.icon-social__item--4 {
  background-position: -189px 0;
}
.icon-social__item--5 {
  background-position: -252px 0;
}
/*************
Footer
**************/
.footer {
  height: 105px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3b434c;
}
.footer p {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .header br {
    display: none;
  }
  .header .h-description {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 65px;
  }
  .email {
    width: 100%;
    margin-bottom: 30px;
  }
  .button-form-cl {
    width: 100%;
  }
  .services-item {
    margin-bottom: 30px;
  }
  .footer .container {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 605px) {
  .team-item {
    width: 100%;
  }
  .works-item {
    width: 100%;
  }
  .icon-social {
    float: none;
    margin-top: 30px;
  }
  .button-form-con {
    width: 100%;
  }
}
@media screen and (max-width: 504px) {
  .button-header {
    width: 90%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .button-header:last-child {
    margin-bottom: 0;
  }
  .services-item {
    width: 100%;
  }
}
@media screen and (max-width: 383px) {
  .arrow-bottom {
    bottom: 25px;
  }
}
